html {
  font-family: 'Roboto', sans-serif;
}

:root {
  --title-color: #322153;
  --background-field: #f0f0f5;
  --primary-color: #34cb79;
  --secondary-color: #2fb86e;
}

body {
  background-color: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: 'Ubuntu', sans-serif;
}