#modal {
  top: 0;
  position: fixed;
  background-color:  #0c0211e5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal.hide{
  display: none;
}

#modal .content{
  color: white;
  width: 420px;
}

#modal .content .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:  20px;
}

#modal .header h1{
  color: white;
  flex: 1;
  text-align: center;
}

#modal .header a{
  background-image: url(../assets/x.svg);
  width: 20px;
  height: 20px;
  display: flex;
  font-size: 00.1px;
  margin-bottom: 50px;
}

#modal label{
  font-size: 14px;
  line-height: 16px;
  display: block;

  margin-bottom: 8px;
}

#modal form .field{
  display: flex;
}

#modal form .field input{
  flex: 1;
  background-color: var(--background-field);
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px 0px 0px 8px;
}

#modal form .field button{
  background-color: var(--primary-color);
  border: 0;
  padding: 14px;
  border-radius: 0px 8px 8px 0px;
  transition: 400ms;
  cursor: pointer;
}

#modal form .field button:hover{
  background-color: var(--secondary-color);
}