@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translate(-50%);
  }

  #page-home main {
    align-items: center;
  }

  #page-search-results main .cards {
    grid-template-columns: 1fr;
    padding: 120px;
  }

  #page-search-results main img {
    object-fit: cover;
    height: 360px;
  }
}